@font-face {
	font-family: 'arcadeclassicregular';
	src: url('../fonts/arcadeclassic-webfont.woff2') format('woff2'),
	url('../fonts/arcadeclassic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

body {
	background:#000;
}

canvas {
	display: block;
	margin: auto;
	position :absolute;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: optimize-contrast
}

.wrapper {
	width: 800px;
	margin: 0 auto;
	margin-top: 2em;
}

#instructions {
	float: left;
	font-family: sans-serif;
	color: #757575;
}

#score {
	font-family: 'arcadeclassicregular', sans-serif;
	color:#FFF;
	float: right;
	font-size: 2em;
}

.key {
	color: #aaffdd;
}

#game-over-success,
#game-over-fail,
#game-over-overlay {
	margin: auto;
	width: 800px;
	height: 600px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	display: none;
}

#game-over-overlay {
	background-color: black;
	opacity: .5;
}

#game-over-success,
#game-over-fail {
	height: 600px;
	text-align: center;
	color: white;
}

#game-over h1 {
	font-size: 3em;
	font-family: sans-serif;
}

#game-over button {
	font-size: 1.5em;
}

.game-over h1 {
	font-family: 'arcadeclassicregular', sans-serif;
	font-size: 40px;
	font-weight: normal;
}

.jb-wrapper {
	width:500px;
	margin: 0 auto 20px auto;
}

.jb-image {
	width:210px;
}

.jb-info {
	font-family: 'arcadeclassicregular', sans-serif;
	font-size:20px;
	width: 270px;
	text-align: left;
	padding-left: 20px;
}

.start-screen {
	background: url("../images/start_screen.png") no-repeat;
	margin: auto;
	width: 800px;
	height: 600px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
}

.btn {
	display: inline-block;
	font-family: 'arcadeclassicregular', sans-serif;
	font-size:40px;
	color: #FFF;
	text-decoration:none;
	border: 2px solid #FFF;
	background: #000;
	padding: 20px;
	transition: background-color 0.5s ease;
	cursor: pointer;
}

.btn:hover {
	background: #3f9756;
}

.start-button {
	font-family: 'arcadeclassicregular', sans-serif;
	font-size:40px;
	display: none;
	color: #FFF;
	text-decoration:none;
	border: 2px solid #FFF;
	background: #000;
	position: absolute;
	top: 363px;
	left: 273px;
	margin: 0 auto;
	z-index: 3;
	padding: 20px;
	line-height: 75px;

	-webkit-animation-name: pulse;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
}

.start-button img {
	display: block;
	margin-right: 10px;
}

.pull-left {
	float: left;
}

.clearfix:after {
	content:" ";
	display:table;
	clear:both;
}

@-webkit-keyframes pulse {
	from { background-color: #000000; }
	50% { background-color: #3f9756; }
	to { background-color: #000000;}
}